
//abstracts
@import "abstracts/mixins";
@import "abstracts/keyframes";

//base
@import "base/colors";
@import "base/reset";

#background-image {
    width: 100vw;
    height: 100vh;
    object-fit: fill;
}

body {
    background-image: url("images/blur-clean.jpg");
    background-size: cover;
}

.box {
    visibility: hidden;
    align-content: center;
    padding: 4px;
    display: inline-block;
    margin: auto;
    width: 300px;
    height: 300px;
    background-color: white;
    outline: 10px solid white;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box-text {
    color: $color-box-text;
    vertical-align: middle;
    text-align: center;
    font-size: 72px;
    font-weight: bold;
}

#box-first {
    background-color: $bg-color-box-first;
    animation: 1.5s ease-in 1.5s slideInFromTop forwards;
}

#box-second {
    background-color: $bg-color-box-second;
    animation: 1.5s ease-in 3s slideInFromTop forwards;
}

#box-third {
    background-color: $bg-color-box-third;
    animation: 1.5s ease-in 4.5s slideInFromTop forwards;
}
