
//abstracts
@import "abstracts/mixins";
@import "abstracts/keyframes";

//base
@import "base/reset";
@import "base/colors";

body {
    background-image: url("images/blur-clean.jpg");
    background-size: cover;
}

.box {
    visibility: hidden;
    align-content: center;
    padding: 4px;
    display: inline-block;
    margin: auto;
    width: 12vw;
    height: 12vw;
    background-color: $bg-color-box-default;
    outline: 10px solid white;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box-text {
    position: absolute;
    top: 30%;
    left: 35%;
    color: $color-box-text;
    font-size: 5vw;
    font-weight: bold;
}

#box-first {
    background-color: $bg-color-box-first;
    animation: 1.5s ease-in 1.5s slideInFromTop forwards;
}

#box-second {
    background-color: $bg-color-box-second;
    animation: 1.5s ease-in 3s slideInFromTop forwards;
}

#box-third {
    background-color: $bg-color-box-third;
    animation: 1.5s ease-in 4.5s slideInFromTop forwards;
}
