@keyframes slideInFromTop {
    0% {
      visibility: visible;
      top: -100%;
      transform: translateY(-100%);
      
    }
    100% {
      transform: translateY(30vh);
      top: 30vh;
      visibility: visible;

    }
  }